<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to the Blog</title>
  </head>

  <body>
    <center>
      <h1>Welcome to the Blog</h1>
      <a href="./user %>"class="btn btn-primary btn-lg btn-block active" role = "button" aria-pressed="true">
            General Readers
          </a>
          <a href="./authors %>"class="btn btn-secondary btn-lg btn-block active" role = "button" aria-pressed="true">
            Authors </a>
    </center>
  </body>
</html>
